* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-areas:
        'nav nav nav nav nav nav'
        'task-tree task-tree task-tree task-tree task-tree task-list'
        'task-tree task-tree task-tree task-tree task-tree cred';
  grid-gap: 10px;
  background-color: lightgray;
}

.nav { grid-area: nav; height: 15vh; }
.task-tree { grid-area: task-tree; height: 80vh; overflow: scroll; }
.task-list { grid-area: task-list; height: 60vh; }
.cred { grid-area: cred; height: 20vh; }

.grid-container > .demo {
  background-color: darkgray;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 1px solid #535353;
  border-radius: 6px;
}


@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-areas:
                    'nav'
                    'task-list'
                    'task-tree'
                    'cred';
  }

  .task-list { height: 20vh; }
  .nav { height: 10vh; }
}
